.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calendar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-calendar {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.selected-date {
  margin-top: 10px;
  font-size: 1.2rem;
}