.fitness-container {
  height: 80%;
  padding: 16px;
  background: white;
  border-radius: 16px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.fitness-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}
