  .container {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a8caba, #5d6d7e);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height:100%;
    width:100%;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
  }
  
  .text-section h2 {
    padding-left: 180px;
    font-size: 28px;
    margin-bottom: 0;
  }
  
  .text-section h1 {
    padding-left: 180px;
    font-size: 50px;
    font-weight: bold;
  }
    .text-section p {
    padding-left: 180px;
    max-width: 400px;
    font-size: 20px;
    
  }
  
  .buttons {
    border-radius: 2px;
    font-weight: 500;
     margin: 20px; 
    width:30%;
    cursor: pointer;
      display: flex;
      margin: 30px auto; 
      justify-content: center;
      align-items: center;
      margin-right: 20%;
      transform: scaleX(180 deg);
      transition: 1.2s;
  }
  .buttonmain{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(180 deg);
    transition: 1.2s;
    
  }
  .image-section img {
   width: 420px;
   height: 65vh;
  }
  .container .image-section {
    padding-left: 300px;
    
    
  }
  .buttons :hover{
    transform: rotateX(360deg);
      transition: 2s;
  }

  
  
  
  
  
