:root {
  --baseColor: #36454f;
  --baseColorDark:#000000;
  --secondaryColor: #0E4749;
  --secondSecondaryColor: #FAC748;
  --whiteColor :#ffffff;
  --blackColor: #000000;
  --borderColor:#dadada;
}


 body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

 code{
  font-family: source-code-pro, Menlo,Monaco,Consolas, "Courier New",
  monospace;
 }
