.baseContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: contain;
  background-position: center;
  flex-direction: column;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.baseContainer img {
  width: 80%;
  display: flex;
}

.NavbarBaseContainer {
}

.ContentBaseContainer {
  flex: 1;
  display: flex;
  
}
